/*  Selectores, propiedades y valores */
body{


}

/* Backgrounds en detalle */
.fondo{
    height: 400px;
    background-color: red;
    background-image: url('https://placekitten.com/200/300');
    background-repeat: no-repeat;
    background-position: right bottom; /*defaul left top*/
    background-attachment: scroll; /*defaul scroll  , fixed*/
    /* background-size:cover; */

    /* RESUMIR EN UNA LINEA */

}

/*Colores en detalle y opacidad */
.color-rgba{
    background-color:rgba(0,0,0,0.5); /*rojo,verde,azul,opacidad*/
}
.color-hsl{
    background-color: hsl(255,70%,50%,0.3) ; /*HSL: tono, saturación y luz. En esta ocasión las siglas no son colores, sino parámetros: Hue (tono), Saturation (saturacion) y Lightness (luminosidad).*/
}

/*Fondos con gradientes */

.fondo-gradientes p{
    height: 50px;
}
.fondo-gradientes1{
    background-image: linear-gradient(red,yellow);
}
.fondo-gradientes2{
    background-image: linear-gradient(-45deg,red,yellow,blue);
}
.fondo-gradientes3{
    background-image: repeating-linear-gradient(to left, red 20%,yellow 80%,blue 90%);
}

/*Sombras */

/*Transformaciones en 2 dimensiones */

/*Transformaciones en 3 dimensiones */

/*Transiciones animadas */
.box-animation{
    position: relative;
    left: 50px;
    top: 50px;
    width: 100px;
    height:100px;
    background-color:black;
    box-shadow: 1px 2px 2px rgba(255,255,0,0.5);
    transition:0.3s;
    transition-delay:0.2;
    padding: 20px;
    border: solid red;
}

.box-animation:hover{
transform: scale(1.05,1.05);
background-color: rgba(255,255,255,0.4);
}



/*Ejercicio de cajas para reportería */
/*3 animaciones hover sobre box , agrandar sombra, escala y color de fondo*/
